<main>
    <section class="section1">
        <div class="imgs">
            <img class="logo" src="../../../assets/img/Logo.png" alt="logo best pizza">
            <img class="pizza" src="../../../assets/img/Pizza.png" alt="pizza">
        </div>
    </section>
    <section class="section2">
        <a class="logOut" href="">Salir</a>
        <p class="text1">Pizzerías</p>
        <p class="text2">Tiendas</p>
        <p class="text3">Escoge tu pizzeria favorita</p>
        <div class="cardsBox">
            <div class="card">
                <a class="cardAction" href="">
                    <img src="../../../assets/img/Panos_pizza.png" alt="">
                </a>
                <p class="cardTitle">Pano's pizza</p>
                <p class="cardLabel">Calle 54 #45 -56</p>
            </div>
            <div class="card">
                <a class="cardAction" href="">
                    <img src="../../../assets/img/Panos_pizza.png" alt="">
                </a>
                <p class="cardTitle">Pano's pizza</p>
                <p class="cardLabel">Calle 54 #45 -56</p>
            </div>
        </div>
    </section>
</main>