<main>
  <section class="section1">
    <img src="../../../assets/img/Pizza.png" alt="pizza" />
  </section>
  <section class="section2" *ngIf="data">
    <a class="logOut">Salir</a>
    <p class="text1">Pizzerías</p>
    <p class="text2">Tiendas</p>
    <p class="text3">Escoge tu pizzeria favorita</p>
    <div class="cardsBox">
      <ng-container *ngFor="let restaurant of data.response.stores">
        <div class="card">
          <a class="cardAction" href="">
            <img [src]="getImg(restaurant)" alt="{{ restaurant.name }}" />
          </a>
          <p class="cardTitle">{{ restaurant.name }}</p>
          <p class="cardLabel">{{ restaurant.address }}</p>
        </div>
      </ng-container>
    </div>
    <app-footer></app-footer>
  </section>
</main>
