main {
    background-color: #1F1F1F;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .sm {
        align-self: center;
        margin-left: 20px;
        a {
            margin: 0 5px;
            color: #ffffff;
            font-size: 2em;
        }
    }
    .logo {
        img {
            width: 50px;
            padding: 10px 0;
            float: right;
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        position: relative;
        .logo {
            justify-self: end;
            img {
                margin-right: 10px;
            }
        }
    }
}